///
/// All of the CSS for your admin-specific functionality should be
/// included in this file.
///
/// @todo Nest this properly.
///

@import 'partials/_settings';

.wrap.posts-per-page {
	max-width: 1024px;
}

// Admin header
.scp-admin-header {

	.admin-site-branding {
		padding-top: 1.5em;

		.admin-site-title {
			margin-top: 0;
		}
	}

	.admin-navigation {

		.admin-navigation-list li {
			display: inline;
			margin-right: 0.75em;
		}
	}
}

// Admin menu
.dashicons-admin-media:before {
	content: '\f161' !important;
}

///
/// Plugins
///
/// For the installed plugins and the add new plugins screens.
/// This provides better distinction between active and inactive plugins.
///
.plugins tr.inactive *,
.plugins .plugins a.delete {
	background: #f3f3f3;
	color: #777777;
}

.plugins tr.inactive .activate a:hover {
	color: #76a91d;
}

.plugins tr.active .deactivate a:hover,
.plugins tr.inactive .delete a:hover {
	color: #aa0000;
}

.plugins a.delete:hover {
	color: #aa0000 !important;
}

.row-actions span.delete a {
	background: #f3f3f3;
	color: #777777;
}

.row-actions span.delete a:hover {
	color: #aa0000 !important;
}

///
/// Media
///
/// For the media library and media uploads screens.
///

// Fix SVGs not showing correctly as featured images.
#postimagediv .inside .svg img {
	width: 100%;
}

// jQuery tabs
.nav-tab-wrapper a .dashicons {
	vertical-align: bottom;
}

.backend-tabbed-content > div {
	max-width: 1200px;
}

.backend-tabbed-content.ui-widget-content,
.backend-tabbed-content.ui-widget.ui-widget-content {
	border: none;
	background: inherit;
	color: inherit;
}

.backend-tabbed-content.ui-widget {
	font-family: inherit;
}

.nav-tab-wrapper a .dashicons {
	vertical-align: text-top;
}

.backend-tabbed-content > div {
	max-width: 1200px;
}

.backend-tabbed-content .ui-widget-header {
	border: none;
	border-bottom: 1px solid #ddd;
	background: inherit;
	color: inherit;
	font-weight: 700;
}

.backend-tabbed-content {
	/// position: relative prevents IE scroll bug (element with
	/// position: relative inside container with
	/// overflow: auto appear as "fixed").
	position: relative;
	padding: 0;
}

.backend-tabbed-content .ui-tabs-nav {
	margin: 0;
	padding: 0;
	padding: 9px 0 0 .4em;
	border-bottom: 1px solid #ccc;
}

.backend-tabbed-content .ui-tabs-nav h2 {
	margin: 0;
	padding: 0;
	line-height: 1;
}

.backend-tabbed-content .ui-tabs-nav li {
	display: inline-block;
	list-style: none;
	position: relative;
	top: 1px;
	margin: 0;
	border-bottom-width: 0;
	padding: 0;
	white-space: nowrap;
}

.backend-tabbed-content .ui-button,
.backend-tabbed-content .ui-state-default,
.backend-tabbed-content .ui-widget-content .ui-state-default,
.backend-tabbed-content .ui-widget-header .ui-state-default,
html .backend-tabbed-content .ui-button.ui-state-disabled:active,
html .backend-tabbed-content .ui-button.ui-state-disabled:hover {
	border: none;
}

.backend-tabbed-content .ui-button.ui-state-active:hover,
.backend-tabbed-content .ui-button:active,
.backend-tabbed-content .ui-state-active,
.backend-tabbed-content .ui-widget-content .ui-state-active,
.backend-tabbed-content .ui-widget-header .ui-state-active,
.backend-tabbed-content a.ui-button:active {
	border: none;
	border-bottom-width: 1px;
	background: inherit;
	font-weight: 400;
	color: inherit;
}

.backend-tabbed-content .ui-tabs-nav li a {
	display: block;
	border-radius: 3px 3px 0 0;
	border: 1px solid #ccc;
	border-bottom: none;
	margin: 1px .2em 0 0;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 24px;
	background: #e5e5e5;
	color: #555;
	text-decoration: none;
}

.backend-tabbed-content .ui-tabs-nav li a .dashicons {
	vertical-align: bottom;
}

.backend-tabbed-content .ui-tabs-nav li.ui-tabs-active a,
.backend-tabbed-content .ui-tabs-nav li.ui-tabs-active a:focus,
.backend-tabbed-content .ui-tabs-nav li.ui-tabs-active a:focus:active,
.backend-tabbed-content .ui-tabs-nav li.ui-tabs-active a:active,
.backend-tabbed-content .ui-tabs-nav li.ui-tabs-active a:hover {
	border-bottom: 1px solid #f1f1f1;
	background: #f1f1f1;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #000;
}

.backend-tabbed-content .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.backend-tabbed-content .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.backend-tabbed-content .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
	cursor: pointer;
}

.backend-tabbed-content .ui-tabs-nav ~ div {
	clear: both;
}

.backend-tabbed-content .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
	cursor: pointer;
}

.backend-tabbed-content .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 1em 1.4em;
	background: none;
}

// Post types order
.ui-sortable tr:hover {
	cursor: move;
}

.ui-sortable tr.alternate {
	background-color: #f9f9f9;
}

.ui-sortable tr.ui-sortable-helper {
	background-color: #f9f9f9;
	border-top: 1px solid #dfdfdf;
}

///
/// Miscellaneous
///
/// Easily copy the code of registered ACF fields on the Registered Fields screen.
///
.import-registered-field-groups-arrays {
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
}

// Some of the unordered lists in the admin pages look better with bullets.
.scp-bullet-list {
	list-style: disc;
	margin-left: 1em;
}
