/**
 * App tabs library
 *
 * .admin-tabs is the container class.
 */
.admin-tabs .admin-tabs-list {
  list-style: none;
  margin: 3rem 0 0;
  padding: 0 0 0 0.5em;
  border-bottom: solid 1px #ccd0d4;
}

.admin-tabs .admin-tabs-list .content-tab {
  display: inline-block;
  position: relative;
  top: 1px;
  margin: 0 0.15em;
  border: solid 1px #ccd0d4;
  font-weight: 600;
}

.admin-tabs .admin-tabs-list .content-tab a {
  display: block;
  padding: 0.75em 1em;
  background-color: #f1f1f1;
  line-height: 1;
  text-decoration: none;
  color: #444;
}

.admin-tabs .admin-tabs-list .content-tab a:hover, .admin-tabs .admin-tabs-list .content-tab a:focus, .admin-tabs .admin-tabs-list .content-tab a:active {
  color: #23282d;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.admin-tabs .admin-tabs-list .content-tab.active {
  border-bottom-color: #f1f1f1;
}

.admin-tabs .admin-tabs-list .content-tab.active a {
  color: #23282d;
  cursor: default;
}

.admin-tabs .tab-content {
  display: none;
  position: relative;
  overflow: hidden;
  max-width: 1200px;
  padding: 2rem 1em;
}

.admin-tabs .tab-content > h2 {
  margin-top: 0;
}

.admin-tabs .tab-content > h2 + div,
.admin-tabs .tab-content > h2 + section {
  margin-top: 2rem;
}

.admin-tabs .tab-content section h3:first-of-type {
  margin-top: 0;
}

.admin-tabs .tab-content .tab-section > div {
  padding-top: 1rem;
}

.admin-tabs .tab-content .content-tab-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .admin-tabs .tab-content .content-tab-columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.admin-tabs .tab-content .content-tab-columns > div {
  width: auto;
}

@media screen and (max-width: 768px) {
  .admin-tabs .tab-content .content-tab-columns > div {
    width: 100%;
  }
}

.admin-tabs .tab-content .content-tab-columns > div:not(:last-of-type) {
  margin-right: 2rem;
}

.admin-tabs .tab-content .content-tab-columns.content-tab-columns-two > div {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .admin-tabs .tab-content .content-tab-columns.content-tab-columns-two > div {
    width: 100%;
  }
}

.admin-tabs .tab-content .content-tab-columns.content-tab-columns-three > div {
  width: 33.33325%;
  width: calc( 100% / 3);
}

@media screen and (max-width: 768px) {
  .admin-tabs .tab-content .content-tab-columns.content-tab-columns-three > div {
    width: 100%;
  }
}

.admin-tabs[data-tab_mouseevent="hover"] .admin-tabs-list .content-tab.active a {
  cursor: pointer;
}

.rtl .admin-tabs .admin-tabs-list {
  padding: 0 0.5em 0 0;
}

.no-js .admin-tabs .tab-content {
  display: block;
}
