///
/// Dashboard panel
///
/// These styles are for the widget that
/// replaces the core welcome panel.
///

/*
 * Make the dashboard panel widget display
 * as the welcome panel.
 */
#postbox-container-2,
#postbox-container-3,
#postbox-container-4 {
	display: none;
}

#dashboard-widgets #normal-sortables > div:not( #scp-dashboard ) {
	display: none;
}

#dashboard-widgets .postbox-container {
	width: 100% !important;
}

#scp-dashboard.postbox {
	background-color: inherit;
	border: none;
	box-shadow: none;
}

#scp-dashboard .postbox-header {
	display: none;
}

#scp-dashboard .inside {
	display: block !important;
	max-width: 1280px;
	padding: 0;
}

#dashboard-panel {
	height: 100%;
	overflow: auto;

	.dashboard-panel-content {
		height: 100% !important;
		padding: 1rem;
		clear: both;

		.about-description {
			font-size: 16px;
			margin: 0;
		}
	}

	.dashboard-panel-column-container {
		clear: both;
		position: relative;
		display: grid;
		grid-template-columns: repeat( 3, 1fr );
		gap: 1rem;

		@media screen and ( max-width: 782px ) {
			display: block;
		}
	}

	.dashboard-panel-column {
		box-sizing: border-box;

		h3 {
			margin: 1.33em 0 0;
			font-size: 16px;
			font-weight: 600;
		}
	}

	.dashboard-panel-section-intro {
		display: -webkit-box;
		display: flex;
		padding: 1rem 0 0 0;

		@media screen and ( max-width: 799px ) {
			display: block;
		}

		h4 {
			margin: 0;
			font-size: 23px;
			line-height: 1.3;
		}

		figure {
			margin: 0 1em 0 0;

			a,
			img {
				display: block;

				&:focus {
					box-shadow: none;
				}
			}

			img {
				width: 64px;
				height: auto;
			}

			@media screen and ( max-width: 799px ) {
				float: left;
			}
		}

		div {
			margin-bottom: 2rem;

			p {
				&:first-of-type {
					margin: 0;
				}
			}
		}
	}

	img.avatar {
		border-radius: 50%;
	}

	.dashboard-panel-call-to-action {
		margin: 1rem 0 0 0;
	}

	.button {
		&.button-hero {
			min-height: unset;
			padding: 1em;
			line-height: 1;
			text-align: center;
		}
	}
}

.no-js {
	#dashboard-panel {
		.dashboard-panel-content {
			display: block !important;
		}
	}
}
