/*
 * Make the dashboard panel widget display
 * as the welcome panel.
 */
#postbox-container-2,
#postbox-container-3,
#postbox-container-4 {
  display: none;
}

#dashboard-widgets #normal-sortables > div:not(#scp-dashboard) {
  display: none;
}

#dashboard-widgets .postbox-container {
  width: 100% !important;
}

#scp-dashboard.postbox {
  border: none;
}

#scp-dashboard .postbox-header {
  display: none;
}

#scp-dashboard .inside {
  display: block !important;
  padding: 0;
}

#dashboard-panel {
  height: 100%;
  overflow: auto;
  background-color: inherit;
}

#dashboard-panel .admin-tabs .admin-tabs-list {
  margin-top: 0;
}

#dashboard-panel .dashboard-panel-content {
  overflow: auto;
  padding: 1rem;
  clear: both;
}

#dashboard-panel .dashboard-panel-content .about-description {
  font-size: 16px;
  margin: 0;
}

#dashboard-panel .dashboard-panel-column-container {
  clear: both;
  position: relative;
}

#dashboard-panel .dashboard-panel-column {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 32%;
  min-width: 200px;
  float: left;
}

#dashboard-panel .dashboard-panel-column:not(:last-of-type) {
  padding-right: 1rem;
}

#dashboard-panel .dashboard-panel-column:first-child {
  width: 36%;
}

#dashboard-panel .dashboard-panel-column h3 {
  margin: 1.33em 0 0;
  font-size: 16px;
  font-weight: 600;
}

#dashboard-panel .dashboard-panel-section-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 2rem 0 0;
}

@media screen and (max-width: 799px) {
  #dashboard-panel .dashboard-panel-section-intro {
    display: block;
  }
}

#dashboard-panel .dashboard-panel-section-intro h4 {
  margin: 0;
  font-size: 23px;
  line-height: 1.3;
}

#dashboard-panel .dashboard-panel-section-intro figure {
  margin: 0 1em 0 0;
}

#dashboard-panel .dashboard-panel-section-intro figure a,
#dashboard-panel .dashboard-panel-section-intro figure img {
  display: block;
}

#dashboard-panel .dashboard-panel-section-intro figure a:focus,
#dashboard-panel .dashboard-panel-section-intro figure img:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (max-width: 799px) {
  #dashboard-panel .dashboard-panel-section-intro figure {
    float: left;
  }
}

#dashboard-panel .dashboard-panel-section-intro div {
  margin-bottom: 2rem;
}

#dashboard-panel .dashboard-panel-section-intro div p:first-of-type {
  margin: 0;
}

#dashboard-panel img.avatar {
  border-radius: 50%;
}

#dashboard-panel .dashboard-panel-call-to-action {
  margin: 1rem 0 0 0;
}

.no-js #dashboard-panel .dashboard-panel-content {
  display: block !important;
}
